{% extends "gstbillingapp/base.html" %}
{% load static %}

{% block title %}
DjangoGst - Simplest GST invoicing | Inventory Management | Book keeping
{% endblock %}

{% block metatags %}
<meta name="description" content="Create GST invoice/bills for free. Automatic inventory Management and Books management.">
<meta name="google-site-verification" content="MJbX1a9Fs1MIE1tnpRnp4At9OzVMxoumTAvOWUlG8-w" />
<link rel="canonical" href="https://billgst.in/" />

<meta property="og:title" content="BillGST - Simplest GST invoicing | Inventory Management | Book keeping" />
<meta property="og:url" content="https://billgst.in" />
<meta property="og:image" content="https://billgst.in{% static "gstbillingapp/images/screenshot_interface.png" %}" />
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3">DjangoGST</h1>
    <h2 class="display-6">Simplest <b>GST invoicing</b> app.</h2>
    <hr class="my-4">
    <h4>
        <ul>
            <li>Easily create invoices</li>
            <li>Manage inventory</li>
            <li>Keep books and track balances</li>
        </ul>
    </h4>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'invoice_create' %}" role="button">Create Invoice</a>
    </p>
</div>

<div class="row">
    <!-- Total Inventory -->
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h4 class="card-title">Total Inventory</h4>
                <p class="card-text">{{ total_inventory_count }}</p>
            </div>
        </div>
    </div>

    <!-- Today's Inventory -->
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h4 class="card-title">Today's Inventory</h4>
                <p class="card-text">{{ today_inventory_count }}</p>
            </div>
        </div>
    </div>

    <!-- Total Customers -->
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h4 class="card-title">Total Customers</h4>
                <p class="card-text">{{ total_customers_count }}</p>
            </div>
        </div>
    </div>

    <!-- Today's Amount -->
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h4 class="card-title">Today's Amount</h4>
                <p class="card-text">{{ today_amount }}</p>
            </div>
        </div>
    </div>

    <!-- Total Amount -->
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h4 class="card-title">Total Amount</h4>
                <p class="card-text">{{ total_amount }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
